<sly data-sly-test="${wcmmode.edit}">
    <h2>${properties.jcr:title}</h2>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='wknd.registration'}"></sly>
</sly>

<div class="registration-container">
    <h2>Sign Up</h2>
    <form class="wknd-registration-form" method="post">
        <label for="userId">User Id</label>
        <input type="text" id="userId" name="userId">

        <label for="userFirstName">Name</label>
        <input type="text" id="userFirstName" name="userFirstName">

        <label for="userEmail">Email</label>
        <input type="text" id="userEmail" name="userEmail">

        <label for="userPassword">Password</label>
        <input type="password" id="userPassword" name="userPassword">

        <button class="registration-submit" type="submit">Register</button>
    </form>

    <!--Success Popup Start-->
    <div id="newuser-popup" class="success-popup d-none">
        <div class="success-popup-content">
            <button class="login-redirection">Successfully signed up. Continue to log in...</button>
        </div>
    </div>
    <!--Success Popup End-->

    <!--Success Popup Start-->
    <div id="existing-popup" class="success-popup d-none">
        <div class="success-popup-content">
            <button class="login-redirection">Already existing account. Continue to log in...</button>
        </div>
    </div>
    <!--Success Popup End-->
</div>